.container {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    min-width: 40%;

    background: rgba(171, 236, 201, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(171, 236, 201, 0.3);
    margin-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}
