
.description{
    font-size: larger;
    background: rgba(171, 236, 201, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(171, 236, 201, 0.3);
    margin-top: 20px;
    size: 50%;
}

.card{
    background: rgba(101, 211, 110, 0.4);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-top: 20px;
    color: white;
    transition: all 0.4s; 
}

.card:hover{
    transform: scale(1.05);
    background: rgba(137, 240, 146, 0.583);
}

