/* html {
  background-color: #1E1E1E;
} */

/* #main {
  background: url(../../../public/images/wallpaper.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
} */